html {
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d1eddf;
}
body {
    display: flex;
    position: absolute;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    flex-shrink: initial;
  }
                        /* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 2px solid black;
    height: 12%;
    align-items: center;
    flex-shrink: initial;
}
#logo {
    display: inline-flex;
    flex-shrink: initial;
}
#cont {
    display: inline-flex;
    border: 5px solid forestgreen;
    padding: 10px;
    border-style: inherit;
    border-radius: 20px;
    justify-content: center;
    background-color: lightgreen;
    font-weight: bold;
    width: 5rem;
    color: black;
    flex-shrink: initial;
}
#cont a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: inline-flex;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;

}
#cont a:hover {
    cursor: pointer;
}
                        /* Main */
main {
    display: flex;
    height: 55%;
    width: 100%;
    border-bottom: 2px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: initial;
}
nav {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 10%;
    flex-shrink: initial;
}
.navigation-items {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-evenly;
    font-size: larger;
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding-left: 0px;
    flex-shrink: initial;
}
.anchors {
    text-decoration: none;
}
#magic-content {
    display: flex;
    width: 60%;
    height: 90%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    flex-shrink: initial;
}

.magic-links {
    display: flex;
    border: 6px solid forestgreen;
    padding: 5px;
    margin: 35px 0;
    width: 100%;
    border-style: outset;
    border-radius: 20px;
    background-color: lightgreen;
    font-weight: bold;
    color: black;
    text-decoration: none;
    justify-content: space-between;
    font-size: larger;
}
.magic-ps {
    display: flex;
    border: 6px solid forestgreen;
    padding: 5px;
    margin: 35px 0;
    width: 102%;
    border-style: outset;
    border-radius: 20px;
    background-color: lightgreen;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: larger;
}
.magic-links:hover :active ::after{
    cursor: pointer;
}
#FSE {
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
#loading-image {
    background-image: url(./pictures/loading-FSE\ \(570x300\ px\).webp);
    width: 570px;
    height: 300px;
}
.aboutMe-parag {
    margin: 0;
    font-size: 1.2rem;
}
#profile-pic {
    display: flex;
    border-radius: 50px;
    flex-shrink: initial;
}
#skills-tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 2px solid black;
    height: 20%;
    flex-shrink: initial;
}
#h3skills {
    display: inline-flex;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    height: 100%;
}
.skills-logos {
    display: inline-flex;
    width: 90%;
    height: 100%;
    align-items: center;
}
#skills-logo {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}
.images {
    display: inline-flex;
}
                        /* Footer */
footer {
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    height: 10%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-shrink: initial;
}
.copyright {
    display: inline-flex;
    padding-left: 20px;
}
.location {
    display: inline-flex;
    padding-right: 20px;
}


                                   /*  MEDIA QUERY   */

@media only screen and (min-width: 2560px) { 
    html {
        font-size: 50px;
    }
    #logo {
        margin: 0;
    }
    #cont {
        font-size: 1.4rem;
        padding: 0px;
        border: 12px solid forestgreen;
        width: 7rem;
        border-style: inherit;
    }
    nav {
        width: 16%;
    }
    #magic-content {
        padding: 0;
        width: 55%;
    }
    #FSE {
        font-size: 2rem;
    }
     .aboutMe-parag {
        font-size: 1.2rem;
    }
    #profile-img {
        height: 540px;
        width: 358.5px;
    }
    #loading-image {
        width: 570px;
        height: 300px;
    }
    .magic-links {
        width: 90%;
        font-size: 1rem;
    }
    .magic-ps {
        width: 90%;
        font-size: 1rem;
    }
    .images {
        width: 150px;
        height: 150px;
    }
    footer {
        font-weight: bold;
    }
    .copyright {
        font-size: smaller;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 2559px)  { 
    html {
        font-size: 35px;
    }
    nav {
        width: 16%;
    }
    #logo {
        margin: 0;
    }
    #magic-content {
        padding: 0;
        width: 55%;
    }
    #profile-img {
        height: 540px;
        width: 358.5px;
    }
    #loading-image {
       width: 570px;
       height: 300px;
    }
    .magic-links {
        width: 90%;
    }
    .magic-ps {
        width: 90%;
    }
    .images {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px)  { 
    html {
        font-size: 25px;
    }
       header {
        display: flex;
        align-content: center;
    }
    main {
        flex-shrink: initial;
    }
    nav {
        width: 20%;
        height: 80%;
    }
    #magic-content {
        width: 50%;
        padding: 0;
        height: 80%;
    }
    .aboutMe-parag {
        font-size: 25px;
    }
    #profile-pic {
        height: 80%;
    }
    #profile-img {
        height: 370px;
        width: 245.7px;
    }
    #FSE {
        font-size: 1.5rem;
    }
    #loading-image {
     width: 570px;
     height: 300px;
    }
    .magic-links {
        font-size: large;
    }
    .magic-ps {
        font-size: large;
    }
    #h3skills {
        height: 100%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px)  { 
	header {
	 align-content: center;
		}
	main {
	    flex-direction: column;
        height: 60%;
		}
    nav {
        width: 20%;
    }
	#magic-content {
		width: 50%;
        padding: 0;
		}
    #loading-image {
        background-image: url(./pictures/loading-FSE\ \(285-150\ px\).webp);
        width: 285px;
        height: 150px;
    }
    .aboutMe-parag {
        font-size: 1rem;
        margin-right: 10px;
        }
	.magic-links {
		display: flex;
		font-size: 0.75rem;
        padding: 3px;
        width: 90%;
		}
    .magic-ps {
        display: flex;
        font-size: 0.75rem;
        padding: 3px;
        width: 95%;
    }
	#profile-img {
	    height: 340px;
		width: 227px;
	}
    #skills-tag {
        height: 17%;
        display: flex;
        flex-direction: row;
	}
    #h3skills {
        margin: 0;
    }
  
}

@media only screen and (min-width: 320px) and (max-width: 767px)  { 
    html {
        font-size: smaller;
    }
    #profile-pic {
        visibility: hidden;
    }
	header {
	    height: 10%;
		}
	#logo {
		font-size: larger;
	}
	#cont {
		font-size: 0.7rem;
		padding: 0;
	}
    main {
        margin-left: 10px;
        margin-right: 5px;
        font-size: medium;
        height: 380px;
        display: flex;
        flex-direction: row;
    }
	nav {
        display: flex;
        margin-top: 20px;
        display: flex;
        width: 100%;
        height: fit-content;
    }
    #magic-content {
        font-size: medium;
        padding: 0;
        width: 100%;
        margin: 20px 0;
        display: flex;
        justify-content: flex-start;
    }
    #loading-image {
        display: flex;
        background-image: url(./pictures/loading-FSE\ \(285-150\ px\).webp);
        width: 285px;
        height: 150px;
     }
    #FSE {
        width: 100%;
        font-size: 1.5rem;
        margin: 15px;
        padding: 0;
        height: 2rem;
    }
    .magic-links {
        padding: 3px;
        margin: 10px;
        width: 90%;
        font-size: small;
        justify-content: center;
    }
    .magic-ps {
        padding: 3px;
        margin: 5px;
        width: 90%;
        font-size: small;
        justify-content: center;
    }
	#skills-tag {
		height: 130px;
		flex-direction: row;
		align-content: flex-start;
	}
    #h3skills {
        width: 100%;
        font-size: 1.5rem;
        margin: 5px;
        padding: 0;
        height: 1rem;
    }
	.skills-logos {
		width: 100%;
		height: 80%;
		display: flex;
		flex-flow: column wrap;
		flex-direction: row;
		flex-wrap: wrap;
	}
	#skills-logo {
	    padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 5px 30px;
	}
	.images {
		display: inline-flex;
		height: 30px;
		width: 30px;
	}
}